body{
  background: #DAF7A6;
}

.nav-wrapper{
  background: #0AC8FF;
}

.page-footer{
  background: #0AC8FF;
}

.text{
  color: #0AC8FF;
}
.card-content{
  background: #FFFCD8;
}

.header{
  background: white;
}
.Tet{
  color: #0AC8FF;
}
.header{
  color: #0AC8FF;
}
.img1{
  height:500px ;
  width:500px ;
}
.img2{
  height:500px ;
  width:500px ;
}
.img3{
  height:500px ;
  width:500px ;
}
.kok{
  color: white;
}
.img4{
  height:500px ;
  width:500px ;
}
.img0{
  height:270px ;
  width:350px ;
}
